@charset "utf-8";

* {margin:0; padding:0;}
ul,li {list-style:none;}
a {text-decoration:none;}
img {vertical-align:top;}
table {border-collapse:collapse;}
.clear_fix:after {content:""; display:block; clear:both;}
body {font-family: 'Noto Sans KR'; font-weight:400; font-size:14px; line-height:1;}



/*portfolio페이지*/

.progress {background: #002ca6; color: #fff; height: 100vh; width: 100%; top:0; left:0; position:fixed; z-index: 5000;}
.progress-bar {	border-top: 1px solid #fff;	position: absolute;	top: 50%; width: 0%;}
.progress-text {font: 14px;	margin-top: 10px; position: absolute; text-align: center; top: 50%; width: 100%;}
.progress-complete .progress-bar {border-top-color: rgb(255,255,255);}

.ct-center {width:85%; margin:0 auto;}
#container {padding-bottom:90px; background-color:#ecebe7;}
#container .ct-center {position:relative; height:763px;}
#container .ct-center .topWrap {display:flex; padding-top:30px;}
#container .ct-center .topWrap .top {width:33.333333%;}
#container .ct-center .topWrap .cir p {width:90px; padding:10px 20px; border-radius:50%; border:2px solid #002ca6; font-family:"Rubik"; font-weight:800; color:#f7740b; font-size:28px; text-align:center;}
#container .ct-center .topWrap h2 {margin-top:15px; text-align:center; color:#002ca6; font-size:26px; font-weight:600;}
#container .ct-center .topWrap .top .rightmenu {margin:20px 30px 0 0; text-align:right;}
#container .ct-center .topWrap .top .rightmenu li {display:inline-block; margin:0 20px; }
#container .ct-center .topWrap .top .rightmenu li a {display:block; color:#002ca6; font-size:16px; font-weight:600; transition:all 0.3s;}
#container .ct-center .topWrap .top .rightmenu li:hover a {color:#f7740b;}

#container .ct-center .intro {position:absolute; top:45%; left:50%; transform:translateX(-50%);}
#container .ct-center .intro .text {height: 250px; font-size:80px; line-height:110px; font-weight:700; color:#002ca6; letter-spacing:10px;}
#container .ct-center .intro .blink {animation: blink 0.5s infinite;font-size: 80px; color:#f7740b;}
  
  @keyframes blink {
    to {
      opacity: 0;
    }
  }

#container .ct-center .info {position:absolute; top:65%; font-size:14px; color:#002ca6; letter-spacing:3px;}
#container .ct-center .phone {left:-77px; transform: rotate(-90deg);}
#container .ct-center .mail {right:-77px; transform: rotate(90deg);}

#container .ct-center .firstbox .scrolldown {position:absolute; width:130px; left:50%; bottom:0; transform:translateX(-50%); animation:scroll01 1s infinite linear alternate;}
@keyframes scroll01 {

    0% {bottom:-60px;}

    100% {bottom:-80px;}

}

#container .ct-center .firstbox .scrolldown .tri {margin:20px auto 0; width: 0px; height: 0px; border-top:14px solid #f7740b; border-bottom:10px solid transparent; border-right:10px solid transparent; border-left:10px solid transparent;}
#container .ct-center .firstbox .scrolldown p {text-align:center; font-size:16px; color:#002ca6; letter-spacing:4px;}


.topBtn {position:fixed; bottom:10%; right:75px; width:55px; height:55px; border-radius:50%; background-color:#f7740b; z-index:99; animation:upward 1s infinite linear alternate;} 
.topBtn img {position:absolute; width:35px; top:50%; left:50%; transform:translate(-50%,-50%);}

@keyframes upward {

    0% {bottom:10%;}

    100% {bottom:11.5%;}

}

#container2 .cont .ocean { position: relative; width: 100vw;}
#container2 .cont:nth-child(1) .ocean {background-color:#ecebe7;}
#container2 .cont:nth-child(2) .ocean {background-color:#002ca6;}
#container2 .cont:nth-child(3) .ocean {background-color:#ecebe7;}
#container2 .cont:nth-child(4) .ocean {background-color:#002ca6;}

#container2 .wave {
    background: url(../img/wave01.svg) repeat-x; 
    width: 6400px;
    height: 198px;
    animation: wave 6s linear 0s infinite;
    transform: translate3d(0, 0, 0);
}

#container2 .cont:nth-child(2) .wave {
    background: url(../img/wave02.svg) repeat-x; 
}

#container2 .cont:nth-child(3) .wave {
    background: url(../img/wave01.svg) repeat-x; 
}

#container2 .cont:nth-child(4) .wave {
    background: url(../img/wave02.svg) repeat-x; 
}

@keyframes wave {
    0% {margin-left: 0;}
    100% {margin-left: -1600px;}
    } 


#container2 .cont:nth-child(1) {position:relative; overflow: hidden; background-color: #002ca6; color:#fff; z-index:33;}
#container2 .cont:nth-child(1) .ct-center {width:84%; margin:0 auto; padding-bottom:108px; }

#container2 .cont h3 {font-size:20px; font-weight:600; color:#fff;}
#container2 .cont h3::before {content:""; display:block; margin:0 0 15px 0; width:104px; height:15px; background-color:#f7740b;}

#container2 .cont:nth-child(2) h3 {position:relative; top:36%; left:35%; width:580px; color:#002ca6; font-size:100px; font-weight:700; text-align:center; letter-spacing:10px;}
#container2 .cont:nth-child(2) h3::before {width:0; height:0;}
#container2 .cont:nth-child(2) h3::after {content:""; display:block; position:absolute; right:-325px; bottom:-105px; background-image:url(../img/right-arrow.png); width:140px; height:140px; background-repeat:no-repeat; background-position:center center; background-size:100%;  animation:arrow 2s 1.8s infinite;;}
#container2 .cont:nth-child(3) h3 {position:relative; margin:100px auto 0; width:456px; color:#fff; font-size:70px; font-weight:700; text-align:center; letter-spacing:5px;}
#container2 .cont:nth-child(3) h3::before {width:0; height:0;}
#container2 .cont:nth-child(3) h3::after {content:""; display:block; position:absolute; right:0; bottom:0; width:10px; height:10px; background-color: #f7740b; animation:blinks 0.5s infinite linear alternate;}
@keyframes blinks {

    0% {opacity:0;}
    100% {opacity:1;}

} 

@keyframes arrow {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateX(0);
    }
    40% {
        transform: translateX(-30px);
    }
    60% {
        transform: translateX(-45px);
    }

} 
    

#container2 .cont:nth-child(1) .infoboxWrap .left-sec {float:left; width:30%; margin-left:125px; font-size:15px;}
#container2 .cont:nth-child(1) .infoboxWrap .left-sec .profilepic {position:relative; margin-top:42px; width:382px; height:523px; overflow:hidden;}
#container2 .cont:nth-child(1) .infoboxWrap .left-sec .profilepic img {position:absolute; top:-50px; width:100%;}
#container2 .cont:nth-child(1) .infoboxWrap .left-sec .profilebox {margin-top:30px;}
#container2 .cont:nth-child(1) .infoboxWrap .left-sec .profilebox .title {float:left;}

#container2 .cont:nth-child(1) .infoboxWrap .left-sec .profilebox .title li {margin:15px 0; letter-spacing:2px;}
#container2 .cont:nth-child(1) .infoboxWrap .left-sec .profilebox .title li:first-child {font-weight:600; font-size:18px;}
#container2 .cont:nth-child(1) .infoboxWrap .left-sec .profilebox .title li:last-child {font-family:"Montserrat"; font-weight:400; font-size:16px;}

#container2 .cont:nth-child(1) .infoboxWrap .left-sec .profilebox .line {float:left; width:2px; height:78px; margin:0 26px; background-color: #f7740b;}

#container2 .cont:nth-child(1) .infoboxWrap .left-sec .profilebox .content {float:left;}
#container2 .cont:nth-child(1) .infoboxWrap .left-sec .profilebox .content li {margin:10px 0; font-family:"Montserrat"; font-weight:400; font-size:14px;}

#container2 .cont:nth-child(1) .infoboxWrap .right-sec {float:right; margin-top:160px; width:62%; font-size:15px;}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox {float:left;}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .clear_fix:nth-child(1) .infobox {margin-bottom:80px;}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .cer {margin-left:63px;}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox h4 {position:relative; margin-bottom:20px; font-weight:600; font-size:20px; color:#fff; letter-spacing:3px;}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox h4::before {content:""; position:absolute; top:-10px; left:-11px; width:10px; height:10px; background-color: #f7740b; }
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox h4 span {display:block; margin-top:10px; font-size:14px; font-family:"Montserrat"; font-weight:400; color:#f7740b;}

#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox .bot .title {float:left; margin-right:30px;}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox .bot .title li {margin:14px 0;}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox .bot .content {float:left;}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox .bot .content li {margin:14px 0;}


#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox .skillboxWrap {margin-top:30px; width:510px;}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox {float:left; margin:0 15px; width:72px; height:72px;}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill {position:relative; width:100%; height:72px;}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill span {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); font-family: 'Jost'; font-weight:600; font-size:15px;}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill .circle {position:absolute; top:0; left:0; width:100%; height:100%; border-radius:50%; border:13px solid #F5F5F5; box-sizing:border-box;}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill .circle .line {position:absolute; top:-13px; left:-13px; width:72px; height:72px; border-radius:50%; border:13px solid #f7740b; box-sizing:border-box; clip:rect(0,35px,73px,0); transform:rotate(90deg);}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill .circle .fill {position:absolute; top:-13px; left:-13px; width:72px; height:72px; border-radius: 50%; border:13px solid #f7740b; box-sizing:border-box; clip:rect(0,35px,73px,0);}


#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill .cir01 .fill {transform:rotate(240deg);}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill .cir02 .fill {transform:rotate(162deg);}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill .cir03 .fill {transform:rotate(162deg);}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill .cir04 .fill {transform:rotate(162deg);}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill .cir05 .fill {transform:rotate(145deg);}

#container2 .cont:nth-child(1) .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox p {margin-top:13px; font-family: 'Montserrat'; font-size:15px; text-align:center;}
#container2 .cont:nth-child(1) .infoboxWrap .right-sec .tool {margin-left:95px;}


#container2 .cont:nth-child(2) {z-index: 100; overflow: hidden; height:400vw; visibility: hidden; pointer-events: none; background-color:#ecebe7;}
#container2 .cont:nth-child(2).visible {visibility: visible; pointer-events: auto;}
#container2 .cont:nth-child(2) .workWrap {position:fixed; left:0; bottom:0; width:400%; height:100vh;}
#container2 .cont:nth-child(2) .title {position:absolute; width: 25%; left: 0; top: 0; height: 100vh;}
#container2 .cont:nth-child(2) .title p {position:relative; top:46%; left:36.5%; color:#002ca6; font-size:33px; letter-spacing:5px;}
#container2 .cont:nth-child(2) .title p span {position:relative; margin:0 20px;}
#container2 .cont:nth-child(2) .title p span::after {content:""; display:block; position:absolute; right:-21px; bottom:0px; width:10px; height:10px; background-color:#f7740b; animation:blinks 0.5s infinite linear alternate;}
#container2 .cont:nth-child(2) .title p span:nth-child(1)::before {content:""; display:block; position:absolute; left:-21px; bottom:0px; width:10px; height:10px; background-color:#f7740b; animation:blinks 0.5s infinite linear alternate;}

#container2 .cont:nth-child(2) .workbox {position: absolute; width: 25%; top: 0; height: 100vh; display:flex; margin:190px 0;}
#container2 .cont:nth-child(2) .workbox.work1 {left: 25%;}
#container2 .cont:nth-child(2) .workbox.work2 {left: 50%;}
#container2 .cont:nth-child(2) .workbox.work3 {left: 75%;}

#container2 .cont:nth-child(2) .workbox .image {position:relative; top:10px; margin-left:30px; width:589px; height:580px; transition:all 0.3s; overflow:hidden;}
#container2 .cont:nth-child(2) .workbox .image:hover {top:-10px;}
#container2 .cont:nth-child(2) .workbox .image .hoverbx {position:absolute; bottom:-29%; left:37%; color:#fff; background-color:rgb(247,116,11,0.8); width:150px; height:150px; line-height:150px; border-radius:50%; text-align:center; font-size:18px; letter-spacing:2px; transition:all 0.5s;}
#container2 .cont:nth-child(2) .workbox .image:hover .hoverbx {bottom:40%;}
#container2 .cont:nth-child(2) .workbox .textbox {margin:33px 0 0 150px; font-size:16px;}
#container2 .cont:nth-child(2) .workbox .image .lang {position:relative; top:14px;}
#container2 .cont:nth-child(2) .workbox .image .lang span {display:inline-block; margin:0 2px; padding:12px 21px; border:1px solid #555; color:#000; font-family: "Rubik"; font-weight:500; font-size:15px; transition:all 0.3s;}

#container2 .cont:nth-child(2) .workbox .textbox h4 {position:relative; margin-bottom:20px; font-weight:700; font-size:36px;}
#container2 .cont:nth-child(2) .workbox .textbox h4::before {content:""; position:absolute; display:block; top:-12px; left:-12px; width:12px; height:12px; background-color:#f7740b; animation:blinks 0.5s infinite linear alternate;}
#container2 .cont:nth-child(2) .workbox .textbox .about-d {margin-bottom:35px; color:#555;} 
#container2 .cont:nth-child(2) .workbox .textbox .about-d2 {width:525px; line-height:27px; color:#555;}
#container2 .cont:nth-child(2) .workbox .textbox .about-d2::after {content:""; display:block; margin:20px 0 20px 0; width:20px; height:3px; background-color: #f7740b;}
#container2 .cont:nth-child(2) .workbox .textbox .about-d2::before {content:""; display:block; margin-bottom:20px; width:20px; height:3px; background-color: #f7740b;}
#container2 .cont:nth-child(2) .workbox .textbox .detailWrap {display:flex;}
#container2 .cont:nth-child(2) .workbox .textbox .detailWrap ul li {margin:15px 0;}
#container2 .cont:nth-child(2) .workbox .textbox .detailWrap .firstline {font-weight:600; color:#000;}
#container2 .cont:nth-child(2) .workbox .textbox .detailWrap .secondline {margin-left:36px; color:#555;}

#container2 .cont:nth-child(2) .workbox .visit {display:inline-block; margin:30px 0 70px 0; background-color:#002ca6; color:#fff;  width:180px; height:45px; line-height:45px; font-size:15px; font-weight:700; text-align:center; box-sizing:border-box; transition:all 0.3s ease;}
#container2 .cont:nth-child(2) .workbox .visit:hover {background-color:transparent; background-color:#2853cb;}
#container2 .cont:nth-child(2) .workbox .download {display:inline-block; margin:30px 0 70px 30px; background-color:#002ca6; color:#fff;  width:180px; height:45px; line-height:45px; font-size:15px; font-weight:700; text-align:center; box-sizing:border-box; transition:all 0.3s ease;}
#container2 .cont:nth-child(2) .workbox .download:hover {background-color:transparent; background-color:#2853cb;}


#container2 .cont:nth-child(2) .image img {width:100%;}


#container2 .cont:nth-child(3) {position:relative; overflow: hidden; background-color:#002ca6; z-index:33;}
#container2 .cont:nth-child(3) .practWrap {width:1170px; margin:140px auto 200px;}
#container2 .cont:nth-child(3) .practbox {float:left; width:560px; margin-right:50px; margin-top:50px; text-align:center;}
#container2 .cont:nth-child(3) .practbox:nth-child(2) {margin-right:0;}
#container2 .cont:nth-child(3) .practbox:nth-child(4) {margin-right:0;}
#container2 .cont:nth-child(3) .practbox .image {position:relative; top:0; left:50%; transform:translateX(-50%); width:540px; height:246px; border-radius:20px; overflow:hidden; transition:all 0.3s;}
#container2 .cont:nth-child(3) .practbox .image:hover {top:-10px;}
#container2 .cont:nth-child(3) .practbox .image .visit {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:0px; height:0px; background-color:rgb(247,116,11,0.8); color:#fff; font-weight:700; letter-spacing:3px; transition:all 0.5s ease; overflow:hidden;}
#container2 .cont:nth-child(3) .practbox .image .visit p {display:none; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:180px; height:45px; line-height:45px; border-radius:10px; border:1px solid #fff; font-size:17px; transition:all 0.5s ease;}
#container2 .cont:nth-child(3) .practbox .image:hover .visit {width:540px; height:246px;}
#container2 .cont:nth-child(3) .practbox .image:hover .visit p {display:block;}

#container2 .cont:nth-child(3) .practbox .textbox {margin-top:50px; color:#fff;}
#container2 .cont:nth-child(3) .practbox .textbox h4 {margin-bottom:40px; font-size:23px; font-weight:800;}




#container2 .cont:nth-child(4) {overflow: hidden; background-color:#ecebe7;}
#container2 .cont:nth-child(4) .ct-center {position:relative; height:763px;}
#container2 .cont:nth-child(4) .ct-center .info {position:absolute; top:40%; font-size:14px; color:#002ca6; letter-spacing:3px;}
#container2 .cont:nth-child(4) .ct-center .phone {left:-77px; transform: rotate(-90deg);}
#container2 .cont:nth-child(4) .ct-center .mail {right:-77px; transform: rotate(90deg);}
#container2 .cont:nth-child(4) .last {position:absolute; top:34%; left:50%; transform:translateX(-50%); color: #002ca6; font-weight:700; font-size:100px; letter-spacing:10px; text-align:center;}
#container2 .cont:nth-child(4) .last p::after {position:absolute; right:-7px; bottom:73px; content:""; display:block; width:5px; height:100px; background-color:#f7740b; animation:blinks 0.5s infinite linear alternate;}


#container2 .cont:nth-child(4) .last span {margin-top:50px; display:block; font-weight:400; font-size:20px;}
#container2 .cont:nth-child(4) .copyright {position:absolute; bottom:5%; left:50%; transform: translateX(-50%); display:block; text-align:center; font-size:13px; color:#002ca6; letter-spacing:3px;}